#busca {
  background-color: red;
  width: 100%;
  height: 25em;
}
#background {
  background-size: cover;
  width: 100%;
}
#busca .container {
  width: 100%;
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  position: absolute;
  top: 120px;
}
#busca .container h1 {
  font-size: 3em;
  text-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
}
#barBusca {
  width: 50%;
  height: auto;
  display: flex;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
  border-radius: 50px 50px 50px 50px;
}
#inputBusca {
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 50px 0px 0px 50px;
  width: 100%;
  color: rgb(65, 65, 65);
  resize: none;
  background-color: rgb(245, 245, 245);
  padding: 10px 20px;
  /* box-shadow: 0px 5px 1px rgb(201, 201, 201); */
  border-bottom: rgb(201, 201, 201)solid 6px;
  box-sizing: border-box;
  transition: 2ms;
}

#btn-busca {
  width: 7em;
  height: 100%;
  outline: none;
  color: white;
  cursor: pointer;
  border: 0em;
  background-color: rgb(252, 91, 124);
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  font-size: 2em;
  width: 4em;
  /* box-shadow: 0px 5px 1px rgb(255, 56, 96); */
  border-bottom: rgb(255, 56, 96) solid 6px;
  box-sizing: border-box;
  transition: 2ms;
}

#btn-busca:active {
  border-bottom: rgb(255, 56, 96) solid 2px;
}
nav {
  width: 100%;
  /* height: 20%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1em;
}

nav ul {
  text-decoration: none;
  list-style: none;
  width: 50%;
  height: auto;
  margin: 0px;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0px;
  height: 100%;
  margin-left: 2em;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.logo {
  width: 5%;
}
.logo img {
  width: 100%;
}
header {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#gradient-Background {
  width: 100%;
  position: absolute;
  height: 400px;
  top: 0;
  opacity: 0.5;
  background: linear-gradient(
    180deg,
    rgba(252, 70, 107, 1) 0%,
    rgba(252, 70, 107, 1) 0%,
    rgba(220, 63, 137, 1) 54%,
    rgba(185, 65, 250, 1) 100%,
    rgba(185, 65, 250, 1) 100%
  );
}

#btn-logout {
  outline: none;
  color: white;
  cursor: pointer;
  border: 0em;
  width: 10em;
  height: 2em;
  border-radius: 5em;
  background-color: rgba(138, 80, 232, 0) !important;
  margin-right: 1em;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}
#salasBuscadas {
  width: 100%;
  height: auto;
  background-color: rgb(236, 236, 236);
  display: flex;
}
#salasBuscadas .container {
  width: 80%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  padding-top: 2em;
  align-items: center;
  padding-bottom: 5em;
  justify-content: space-around;
}
.cardSala {
  width: 40%;
  height: auto;
  min-height: 5em;
  color: white;
  background-color: rgb(252, 91, 124);
  border-radius: 2em;
  border-bottom: rgb(255, 56, 96) solid 8px;
  box-sizing: border-box;
  padding: 0em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
  margin-top: 2em;
}

.infoSala {
  display: flex;
}
.btn-entrar {
  outline: none;
  color: white;
  cursor: pointer;
  border: 0em;
  width: 10em;
  height: 2em;
  border-radius: 5em;
  background-color: rgb(245, 122, 149);
  margin-top: 0.5em;
}
.cardSala h1 h6 {
  text-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
  /* text-shadow: 1.06066px 1.06066px 0 #2e95da, 2.12132px 2.12132px 0 #2892d9, 3.18198px 3.18198px 0 #268fd5; */
}
#linkCriarSala {
  width: 20%;
  height: 100%;
}
#btn-criarSala {
  outline: none;
  color: white;
  cursor: pointer;
  border: 0em;
  width: 90%;
  height: 2em;
  border-radius: 5em;
  background-color: rgb(240, 52, 96);
}
