#homePerfil{
    width:100%;
    height: 100%;
    background-image: url(../../assets/img/fundoEditar-min.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#homePerfil h1{
    margin:0px;
    color: white;
}

#homePerfil .container hr{
    width: 20%;
    height: 0.1em;
    background-color: white;
    border: 0px;
}
#homePerfil .container{
width: 100%;
height: 100%;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}
#viewHome{
    width: 100%;
    height: 60%;
    display: flex;
    
    
    
}

#viewHome hr{
    width:60% !important;
}
#AdminHome{
width:50%;
height: 100%; 
}
#ParticipoHome{
    width:50%;
    height: 100%;
}

.cardsHomePerfil{
width: 100%;
height:100%;
display: flex;
flex-direction: column;
align-items:center;

}
.cards{
width:100%;
height:auto;
min-height: 10em;
background-color:  rgba(211, 70, 70, 0.877);
border-radius: 1em;
margin-top:1em;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.cards h6{
    margin:0px;
    font-size:105%; 
}
.OpcoesCard{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
#nomeCard{
    word-wrap: break-word;
}
#viewScrollCard{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}