.container {
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  color: var(--corPrincipal);
  font-size: 3.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
}

.sends {
  display: flex;
  width: 90%;
  height: 35em;
  min-height: 25em;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.material {
  width: 50%;
  height: auto;
  /* min-height: 10em; */
  background-color: white;
  border-radius: 1em;
  border: var(--corPrincipal) solid 2px;
  margin-top: 1em;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.material h6 {
  margin: 1em;
}

.texto {
  width: 100%;
  height: auto;
  /* text-align: center; */
}

.texto p {
  word-wrap: break-word;
  padding: 1em 2em 1em 2em;
  text-align: justify;
}
.material hr {
  width: 90%;
  height: 0.1em;
  border: 0px;
  background-color: var(--corPrincipal);
}
.arquivo {
  width: 100%;
  height: auto;
  word-wrap: break-word;
}
.arquivo p {
  word-wrap: break-word;
  margin: 1em 2em 1em 2em;
}

.bar-post {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 3em;
}

.bar-post textarea {
  width: 45%;
  resize: none;
  height: 10em;
}
.bar-post [type="file"] {
 display: none;
}
.bar-post textarea:focus {
  border: var(--corPrincipal) solid 2px;
  outline: none !important;
}

.painel-btn {
  margin-top: 1em;
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
.painel-btn label {
  width: auto;
  height: auto;
  border: 0px;
  background-color: var(--corPrincipal);
  color: white;
  font-size: 1.5em;
  width: 15%;
  height: 1.5em;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-post {
  outline: none;
  border: 0px;
  background-color: var(--corPrincipal);
  color: white;
  font-size: 1.5em;
  width: 15%;
  height: 1.5em;
  cursor: pointer;
}
