:root {
  --corPrincipal: rgb(255, 56, 96);
}
body {
  overflow-x: hidden;
}

nav {
  position: relative !important;
}
nav ul li {
  color: var(--corPrincipal);
}
#btn-logout {
  color: var(--corPrincipal);
}
#sala {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
}
#sala > h1 {
  color: var(--corPrincipal);
  font-size: 3.5em;
  text-align: center;
}
#group-salas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.background-Animation {
  width: 5000px;
  height: 10em;
  position: relative;
  /* background-image: url(../../assets/img/forma.svg); */
}
.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(http://tedmcdo.com/labs/wave.svg);
  background-repeat: repeat-x;
  animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
/* .wave:nth-of-type(2) {
  background-image: url(http://tedmcdo.com/labs/wave.svg);
  background-repeat: repeat-x;
  animation: wave 37s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
  transform: translate3d(0, 0, 0);
} */

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
