body {
  width: 100%;
  height: 700px;
}

.tituloSala {
  width: 100%;
  height: 9em;
  background-color: rgb(41, 163, 116);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nomeSala {
  font-size: 4em;
}


.views{
    width:100%;
    height: 570px;
    display: flex;      
}
.viewsOpcoes{
    background-color: rgb(99, 94, 94);
    width:30%;
    height: 100%;
}
.feedSala{
  position: relative;
    width:100%;
    height: 100%;
    background-color: rgb(231, 229, 229);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#boxSend{
  width:90%;
  height: 3em;
  background-color: white;
  border-radius:50px;
  display: flex;
}
