@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500");

body {
  width: 100%;
  height: 700px;
  font-family: "Quicksand", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 100%;
  align-items: center;
  position: relative;
}
label {
  color: white;
  display: flex;
  width: 100%;
  flex-direction: column;
}
input {
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 20px;
  width: 100%;
  height: 2em;
  color: rgb(65, 65, 65);
  background-color: white;
}
input:focus {
  border: 2px solid #f22bcb;
}
.btn {
  outline: none;
  color: white;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  font-weight: 500;
  border: 0em;
}
.btn-large {
  width: 80%;
  border-radius: 20em !important;
  height: 3.5em;
  background-color: #f22bcb;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.32), 0 2px 8px 0 rgba(0, 0, 0, 0.34);
}

#gradiente {
  width: 100%;
  height: 700px;
}

#gradiente .login {
  background-image: url(../../assets/img/fundoLogin-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#gradiente .cadastro {
  background-image: url(../../assets/img/fundoCadastro.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#gradiente .editarPerfil {
  background-image: url(../../assets/img/fundoEditar-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#gradiente .sala {
  background-image: url(../../assets/img/fundoEditar-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.sectionForm .container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 30%;
  align-items: center;
  flex-direction: column;
  color: white;
}
.sectionForm .container h1 {
  color: white !important;
  margin: 0px;
}
.sectionForm .container hr {
  border: 5px;
  background-color: white;
  width: 70%;
  margin: 0px;
  margin-bottom: 1em;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}
#hamburger {
  color: white;
  font-size: 2.5em;
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  cursor: pointer;
}
.menu {
  width: 15%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.377);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: -100%;
  transition-timing-function: ease-in-out;  
  transition-duration: 0.6s;
  align-items: flex-end;
  color: white;
}
.menu #closeIcon i{
  font-size: 3em;
  margin-right:5px;
  cursor: pointer;
  }
.menu .sideBar {
  width: 100%;
  height: 70%;
  font-size: 100%;
}
.sideBar ul {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sideBar ul li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 2em;
}
.sideBar ul li:first-of-type {
  height: auto;
}
/* .sideBar ul li:hover .sideBarLogo{
  background-color: black !important;
} */

.sideBar ul #logoMenu:hover {
  background-color: none !important;
}
.sideBar ul li:hover {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #41404060;
}

.sideBar ul li i {
  padding-right: 10px;
}
#bars {
  left: 1em;
  top: 1em;
  position: absolute;
  color: white;
  font-size: 2em;
}

.nav-bar {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar ul {
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.nav-bar ul li {
  display: inline-block;
}

.logo {
  width: 20%;
}
.logo img {
  width: 100%;
}
.sideBarLogo {
  display: flex;
  justify-content: center;
}
.sideBarLogo img {
  max-width: 60%;
}
.btn-media {
  width: 10em;
  height: 2em;

  border-radius: 5em;
  background-color: rgb(139, 80, 232) !important;
  margin-right: 1em;
}
